<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{subject}}</title>
</head>
<body>
        <p>
        Dear {{agent_name}},
        </p>
        <p>
        You have Delivery Request. Please accept the request if you are available for delivery.
        </p>
        <p>
         Restaurant Details are as follows:
            {{restaurant_data}}
        </p>
        <p>
            Customer Details are as follows:
            {{customer_data}}
        </p>
        <p>
            Order Details are as follows:
            {{order_data}}
        </p>

</body>
</html>